/*  로그인 창 */

.login-label {
    font-size: 14px;
    color: #566270;
}

.login-input {
    border: 0px;
    border-bottom: 1px solid #E0E3DA;
    height: 35px;
    margin-bottom: 10px
}

.login-button {
    border-radius: 5px;
    background-color: #30A9DE;
    color: #fff;
    border: 1px solid transparent;
}

.finding-label {
    color: #566270;
    font-size: 14px;
}

.line {
    margin: -1rem;
    height: 1rem;
}

.reister-label {
    cursor: pointer;
    color: #566270;
}

/* 비밀번호 찾기 모달 */

.password-modal-input {
    border: 0px;
    border-bottom: 1px solid #E0E3DA;
    height: 35px;
    margin-bottom: 10px
}

.password-modal-btn {
    border-radius: 5px;
    background-color: #30A9DE;
    color: #fff;
}

/* 회원가입 모달 */

.register-modal-info {
    color: #566270;
    font-size: 12px
}

.register-modal-label {
    font-size: 14px;
    color: #566270;
}

.register-modal-input {
    border: 0px;
    border-bottom: 1px solid #E0E3DA;
    height: 35px;
    margin-bottom: 10px;
}